{##
#  @license 3-clause BSD
#  @link https://github.com/OpenCephalon/OpenCephalon-Core/blob/master/LICENSE.txt
##}


{% extends 'OpenCephalonBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}



	<ol class="breadcrumb">
		<li><a href="{{  path('opencephalon_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
		<li><a href="{{  path('opencephalon_project_source', { 'projectId':project.publicId, 'sourceId':source.publicId }) }}">Source {{ source.title }}</a></li>
		<li><a href="{{  path('opencephalon_project_source_stream', { 'projectId':project.publicId, 'sourceId':source.publicId, 'streamId':sourceStream.publicId }) }}">Stream {{ sourceStream.url }}</a></li>
		<li class="active">To OutStream {{  outStream.title }} Conditions</li>
	</ol>


	<h1>Project {{ project.title }} Source {{ source.title }} Stream {{ sourceStream.url }} To Out Stream {{  outStream.title }}</h1>

	{%  if  conditions %}
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Contains</th>
			</tr>
			</thead>
			<tbody>
			{%  for condition in conditions %}
				<tr>
					<td>
						{{  condition.contains }}
					</td>
					<td>
						&nbsp;
					</td>
				</tr>
			{%  endfor %}
			</tbody>
		</table>
	{% else %}
		<p>You have no conditions</p>
	{% endif %}

{%  endblock %}