{##
#  @license 3-clause BSD
#  @link https://github.com/OpenCephalon/OpenCephalon-Core/blob/master/LICENSE.txt
##}


{% extends 'OpenCephalonBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}

	<ol class="breadcrumb">
		<li><a href="{{  path('opencephalon_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
		<li class="active">Sources</li>
	</ol>


	<h1>Project {{ project.title }} Sources</h1>

	{%  if  sources %}
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Title</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			{%  for source in sources %}
				<tr>
					<td>
						{{  source.title }}
					</td>
					<td>
						<a href="{{  path('opencephalon_project_source', { 'projectId':project.publicId, 'sourceId':source.publicId }) }}" class="btn btn-default">View</a>
					</td>
				</tr>
			{%  endfor %}
			</tbody>
		</table>
	{% else %}
		<p>You have no sources in Project {{  project.title }}</p>
	{% endif %}

{%  endblock %}

