{##
#  @license 3-clause BSD
#  @link https://github.com/OpenCephalon/OpenCephalon-Core/blob/master/LICENSE.txt
##}

{% extends 'OpenCephalonBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}



	<ol class="breadcrumb">
		<li class="active">Project {{  project.title }}</li>
	</ol>


	<h1>Project {{ project.title }} Item {{  item.title }}</h1>

	<p>Title</p>
	<p>{{  item.title }}</p>

	<p>URL</p>
	<p><a href="{{  item.url }}" target="_blank">{{  item.url }}</a></p>

	<p>Description</p>
	<p>{{  item.description }}</p>

	<p>Published At</p>
	<p>{{  item.publishedAt | date('r') }}</p>

	{%  if sourceStreams %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Source Stream</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			{%  for sourceStream in sourceStreams %}
				<tr>
					<td>{{  sourceStream.url }}</td>
					<td><a href="{{ path('opencephalon_project_source_stream',{ 'projectId':project.publicId, 'sourceId': sourceStream.source.publicId, 'streamId':sourceStream.publicId}) }}" class="btn btn-default">View</a></td>
				</tr>
			{%  endfor %}
		</table>
	{%  endif %}

	{%  if  outStreams %}
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Out Stream</th>
				<th>It Out Stream?</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			{%  for outStream in outStreams %}
				<tr>
					<td>
						{{  outStream.outStream.title }}
					</td>
					<td>
						{%  if outStream.inOutStream %}
							YES
						{%  else %}
						{%  endif %}
					</td>
					<td>
						{%  if outStream.inOutStream %}
							<form  action="#" method="post">
								<input type="hidden" name="action" value="remove">
								<input type="hidden" name="outStream" value="{{ outStream.outStream.publicId }}">
								<input type="submit" value="Remove" class="btn btn-warning">
							</form>
						{%  endif %}
					</td>
				</tr>
			{%  endfor %}
			</tbody>
		</table>
	{% endif %}

{%  endblock %}
