{##
#  @license 3-clause BSD
#  @link https://github.com/OpenCephalon/OpenCephalon-Core/blob/master/LICENSE.txt
##}


{% extends 'OpenCephalonBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}



	<ol class="breadcrumb">
		<li><a href="{{  path('opencephalon_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
		<li class="active">Out Stream {{ outStream.title }}</li>
	</ol>


	<h1>Project {{ project.title }} Out Stream {{ outStream.title }}</h1>


	<ul class="list-group">
		<li class="list-group-item"><a href="{{  path('opencephalon_project_outstream_item_list', { 'projectId':project.publicId, 'outStreamId': outStream.publicId }) }}" class="btn btn-default">Items</a></li>
		<li class="list-group-item"><a href="{{  path('opencephalon_project_outstream_item_list_as_text', { 'projectId':project.publicId, 'outStreamId': outStream.publicId }) }}" class="btn btn-default">Items As Text</a></li>
	</ul>

{%  endblock %}

