{##
#  @license 3-clause BSD
#  @link https://github.com/OpenCephalon/OpenCephalon-Core/blob/master/LICENSE.txt
##}


{% extends 'OpenCephalonBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}



	<ol class="breadcrumb">
		<li><a href="{{  path('opencephalon_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
		<li class="active">New Out Stream</li>
	</ol>

	<section class="">

		<form class="styled" action="" method="post" {{ form_enctype(form) }}>
			{{ form_errors(form) }}

			{{ form_rest(form) }}

			<input type="submit" value="Create New Out Stream" />

		</form>

	</section>


{%  endblock %}