{##
#  @license 3-clause BSD
#  @link https://github.com/OpenCephalon/OpenCephalon-Core/blob/master/LICENSE.txt
##}


{% extends 'OpenCephalonBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}



	<ol class="breadcrumb">
		<li><a href="{{  path('opencephalon_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
		<li><a href="{{  path('opencephalon_project_source', { 'projectId':project.publicId, 'sourceId':source.publicId }) }}">Source {{ source.title }}</a></li>
		<li class="active">Stream {{ sourceStream.url }}</li>
	</ol>


	<h1>Project {{ project.title }} Source {{ source.title }} Stream {{ sourceStream.url }}</h1>

	<p>Active</p>

	<p>
		{% if sourceStream.isActive %}Yes{%  else %}No{%  endif %}
	</p>

	<p>Description - Remove From End</p>

	<p>{{ sourceStream.descriptionRemoveFromEnd }}</p>

	<ul class="list-group">
		<li class="list-group-item"><a href="{{  path('opencephalon_project_source_stream_outstreams_list', { 'projectId':project.publicId, 'sourceId': source.publicId, 'streamId':sourceStream.publicId }) }}" class="btn btn-default">Out Streams</a></li>
		<li class="list-group-item"><a href="{{  path('opencephalon_project_source_stream_items_list', { 'projectId':project.publicId, 'sourceId': source.publicId, 'streamId':sourceStream.publicId }) }}" class="btn btn-default">Items</a></li>
		<li class="list-group-item"><a href="{{  path('opencephalon_project_source_stream_edit', { 'projectId':project.publicId, 'sourceId': source.publicId, 'streamId':sourceStream.publicId }) }}" class="btn btn-warning">Edit</a></li>
	</ul>

{%  endblock %}

