{##
#  @license 3-clause BSD
#  @link https://github.com/OpenCephalon/OpenCephalon-Core/blob/master/LICENSE.txt
##}


{% extends 'OpenCephalonBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}



	<ol class="breadcrumb">
		<li class="active">Project {{  project.title }}</li>
		<li class="active">Source {{  source.title }}</li>
	</ol>


	<h1>Project {{ project.title }} Source {{ source.title }}</h1>


	<ul class="list-group">
		<li class="list-group-item"><a href="{{  path('opencephalon_project_source_stream_list', { 'projectId':project.publicId, 'sourceId': source.publicId }) }}" class="btn btn-default">Streams</a></li>
	</ul>

{%  endblock %}